body {
  background-color: azure;
  text-align: center;
}

.title {
  padding: 10px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 30px;
  padding: 15px;
  background-color: rgb(83, 83, 156);
  border-radius: 10px;
}

.card {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 15px;
  border-radius: 10px;
}
